<div class="u-box">
    <h1 class="u-header">User Count <%= @users.length%></h1>
    <% @users.each do |user| %>
        <%= link_to user_path(user.id), class:"text-dec" do %>
        <div class="u-block-1">
            <img class="u-image" src=<%= user.photo %> alt="user photo"/>
            <div class="u-i">
                <h2 class="u-name"><%= user.name %></h2>
                <p class="u-post-count">Number of posts: <%= user.post_counter %></p>
            </div>
        </div>
        <% end%>
        <% end%>
        <%= link_to new_post_path, class:"text-new-post-path" do %>
        <button>Create a post</button>
        <% end%>
</div>