<div class="u-box">
    <div class="user-box-1">
        <img class="u-image" src=<%= @user.photo %> alt="user photo"/>
        <div class="u-i">
            <h2 class="u-name"><%= @user.name %></h2>
            <p class="u-post-count">Number of posts: <%= @user.post_counter%></p>
        </div>
    </div>

    <div class="u-biography">
        <p>Bio</p> <br/>
        <p><%= @user.bio %></p>
    </div>


    <% @user.recent_posts.each do |post| %>
        <%= link_to user_post_path(@user.id, post.id), class:"text" do %>
        <div class="u-recent-post">
            <h2 class="u-p-title">Post : <%= post.title %></h2>
            <p class="u-p-body"><%= post.text %></p>
            <h3 class="u-p-counters">Comments: <%= post.comment_counter%>, Likes: <%= post.likes_counter %><h3>
            </div>
            <% end %>
            <div class="like_comment-box">
                <%= form_with url: post_likes_path(post) do |form| %>
                    <%= form.submit "Like", class: "btn" %>
                <% end %>
                <%= form_with url: post_likes_path(post) do |form| %>
                    <%= form.submit "Comment", class: "btn" %>
                <% end %>
            </div>
    <% end%>

    <button class="button">
        <%= link_to "See all posts", user_posts_path(@user), class:"text-dec" %>
    </button>
</div>
