<div class="posts-container">

        <div class="user-block">
            <img class="user-image" src=<%= @user.photo %> alt="user"/>
            <div class="user-info">
                <h2 class="user-name"><%= @user.name %></h2>
                <p class="user-post-count">Number of posts: <%= @user.post_counter %></p>
            </div>
        </div>

        <% @posts.each do |post| %>
            <div class="user-recent-post">
                <h2 class="user-post-title">Post : <%=post.title %></h2>
                <p class="user-post-body"><%= post.body %></p>
                <h3 class="counters">Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter %></h3>

                <div class="comment_container ">
                    <% post.recent_comments.each do |comment|%>
                        <h3 class="comments"><%= comment.author.name %>:   <%= comment.text %></h3>
                    <% end %>
                </div>
            </div>
        <% end %>

        <button class="button">
            Pagination
        </button>

</div>